.posts {
    margin-block-start: 2rem;
}

.posts__list {
    display: flex;
    flex-direction: column;

    gap: .5rem;

    list-style: none;
}

.post {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.post__avatar {
    display: block;

    block-size: 1.5rem;
    max-inline-size: 1.5rem;
    min-inline-size: 1.5rem;
}

.post__avatar-image {
    block-size: 100%;
    inline-size: 100%;

    border-radius: 50%;
}

.post__content {
    display: flex;
    flex-direction: column;

    inline-size: 100%;

    gap: 1rem;

    max-inline-size: 100%;

    padding: .7rem;

    border-radius: 1rem;

    background: rgb(41, 80, 105);
    background: linear-gradient(150deg, rgba(41, 80, 105, 0.5746673669467788) 0%, rgba(23, 67, 140, 1) 51%, rgba(20, 41, 92, 0.5802696078431373) 100%);
}

.post__title {
    font-weight: 700;
    font-size: clamp(0.8rem, 0.7296rem + 0.3005vw, 1rem);
}

.post__image,
.posts__video {
    inline-size: 100%;

    border-radius: 1rem;
}

.post__text {
    font-weight: 600;
    font-size: clamp(0.8rem, 0.7296rem + 0.3005vw, 1rem);
}

.post__reactions {
    display: flex;
    gap: .5rem;

    flex-wrap: wrap;
}

.post__reaction {
    padding-inline: .4rem;
    padding-block: .2rem;

    border-radius: 1rem;
    background-color: rgb(24, 88, 128);

    color: rgb(0, 153, 250);
}

.post__reaction_active {
    background-color: rgb(0, 153, 250);
    color: #fff;
}

.post__footer {
    display: flex;

    gap: .2rem;

    align-items: center;

    justify-content: flex-end;
}

.post__footer-eye {
    display: flex;

    align-items: flex-end;

    inline-size: clamp(0.8rem, 0.7296rem + 0.3005vw, 1rem);
}

.post__footer-icon {
    block-size: 100%;
    inline-size: 100%;
}

.post__footer-views {
    font-size: clamp(0.6rem, 0.5296rem + 0.3005vw, 0.8rem);
    color: #808080;
}


@media (width < 580px) {
    .post__avatar {
        display: none;
    }
}