.footer {
    margin-block-start: 4rem;
}

.footer__links {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.footer__link {
    color: #fff;

    text-decoration: none;
}